---
http_interactions:
- request:
    method: get
    uri: https://app.checkd.in:443/api/v1/votes?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"0b1ec43ded6cc7875c4c284e7e112874"'
    body:
      encoding: UTF-8
      string: ! '{"total_pages":1,"votes":[{"vote":{"created_at":"2012-04-09T05:42:37-05:00","user":{"id":36,"href":"https://staging.checkd.in/api/v1/users/36.json"},"activity":{"id":18881,"href":"https://staging.checkd.in/api/v1/activities/18881.json"}}},{"vote":{"created_at":"2012-04-09T05:38:50-05:00","user":null,"activity":{"id":18881,"href":"https://staging.checkd.in/api/v1/activities/18881.json"}}},{"vote":{"created_at":"2012-04-08T06:52:18-05:00","user":{"id":36,"href":"https://staging.checkd.in/api/v1/users/36.json"},"activity":{"id":18881,"href":"https://staging.checkd.in/api/v1/activities/18881.json"}}},{"vote":{"created_at":"2012-04-08T06:52:12-05:00","user":{"id":36,"href":"https://staging.checkd.in/api/v1/users/36.json"},"activity":{"id":18881,"href":"https://staging.checkd.in/api/v1/activities/18881.json"}}},{"vote":{"created_at":"2012-04-08T06:51:53-05:00","user":null,"activity":{"id":18881,"href":"https://staging.checkd.in/api/v1/activities/18881.json"}}},{"vote":{"created_at":"2012-04-08T06:30:05-05:00","user":null,"activity":{"id":18881,"href":"https://staging.checkd.in/api/v1/activities/18881.json"}}},{"vote":{"created_at":"2012-04-08T06:26:47-05:00","user":null,"activity":{"id":18881,"href":"https://staging.checkd.in/api/v1/activities/18881.json"}}}]}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
