---
http_interactions:
- request:
    method: put
    uri: http://checkd-in-core.dev:80/api/v1/push_api_subscriptions/1/disable?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5dc194884d762f9b11af7d509861636d"'
    body:
      encoding: UTF-8
      string: ! '{"push_api_subscription":{"push_url":"http://test.com","state":"disabled","reward_won_monitored":false,"activity_created_monitored":true,"user_created_monitored":false,"secret":"6dec79a3034468c530fc","campaign":null}}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
