---
http_interactions:
- request:
    method: get
    uri: http://checkd-in-core.dev:80/api/v1/push_api_subscriptions?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e05a34bf305d4016a48df13b2b82f668"'
    body:
      encoding: UTF-8
      string: ! '[{"push_api_subscription":{"push_url":"http://test.com","state":"enabled","reward_won_monitored":false,"activity_created_monitored":true,"user_created_monitored":false,"secret":"6dec79a3034468c530fc","campaign":null}},{"push_api_subscription":{"push_url":"http://campaign-specific.com","state":"disabled","reward_won_monitored":false,"activity_created_monitored":false,"user_created_monitored":true,"secret":"06c5b4a97848faec4a94","campaign":{"href":"{api_url}/campaigns/7.json","id":7}}}]'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
