---
http_interactions:
- request:
    method: get
    uri: https://app.checkd.in:443/api/v1/promotions/54/votes_leaderboard?client_id={client_id}&client_secret={client_secret}&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"616689e5a2d0af0ef532965e0f6aad51"'
    body:
      encoding: UTF-8
      string: ! '{"promotion":{"title":"A voting promotion!","description":"You iz
        winning","terms":"","above_21_only":false,"ends_at":"2012-05-08T05:42:00-05:00","href":"https://app.checkd.in/api/v1/promotions/54.json","type":"promotion_photo","twitter_hashtag":"#mynordstrom","participant_status_message":null,"reward":{"private_delivery_description":"","public_delivery_description":"","single_delivery":false,"type":"point_reward","reward_points":100},"trigger_schedule":{"rewarding":"many","winner_picked":"activity_interval","interval":1,"human_readable":"Rewarded
        every time the same user performs a relevant action."},"votes_leaderboard":{"total_pages":3,"activities":[{"activity":{"type":"twitter_status","id":18881,"created_at":"2012-02-21T16:08:55-06:00","acted_on":{"type":"twitter_status","tweet_fk":172080368760000512,"status":"Check
        out what I purchased at #mynordstrom http://t.co/DKUXa41E","photo_url":"https://p.twimg.com/AmNaLwUCEAIt1v3.jpg","photo_thumbnail_url":"https://p.twimg.com/AmNaLwUCEAIt1v3.jpg:thumb"},"user":{"id":36,"username":"demomattloadtest","avatar_url":null,"href":"https://app.checkd.in/api/v1/activities.json?user_id=36"},"href":"https://app.checkd.in/api/v1/activities/18881.json","vote_count":7}}]},"campaign":{"name":"Nordstrom
        Rewards","description":"Earn discounts and other great rewards for joining
        Nordstrom Fashion Rewards!","start_date":"2011-12-14","end_date":"2012-06-01","href":"https://app.checkd.in/api/v1/campaigns/11.json"}}}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
