---
http_interactions:
- request:
    method: get
    uri: https://staging.checkd.in:443/api/v1/clients/me?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"41ec4e0bf40b05f1cb6942e8ad224fc5"'
    body:
      encoding: UTF-8
      string: ! '{"client":{"name":"A Test","website":"http://example.com","signup_redirect":"http://example.com/users/return_from_checkdin","custom_domain":"custom.staging.checkd.in","shared_authentication_secret":"12345","push_api_secret":null}}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
