---
http_interactions:
- request:
    method: get
    uri: http://checkd-in-core.dev:80/api/v1/clients/leaderboard?client_id={client_id}&client_secret={client_secret}&limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"346e362c584cea858024494dff6b282f"'
    body:
      encoding: UTF-8
      string: ! '{"total_pages":3,"point_accounts":[{"point_account":{"balance":961,"campaign":null,"user":{"id":961,"username":"leader","avatar_url":null,"external_avatar_url":null,"href":"{api_url}/users/961.json"}}},{"point_account":{"balance":960,"campaign":null,"user":{"id":960,"username":null,"avatar_url":null,"external_avatar_url":null,"href":"{api_url}/users/960.json"}}},{"point_account":{"balance":959,"campaign":null,"user":{"id":959,"username":null,"avatar_url":null,"external_avatar_url":null,"href":"{api_url}/users/959.json"}}},{"point_account":{"balance":958,"campaign":null,"user":{"id":958,"username":null,"avatar_url":null,"external_avatar_url":null,"href":"{api_url}/users/958.json"}}},{"point_account":{"balance":957,"campaign":null,"user":{"id":957,"username":null,"avatar_url":null,"external_avatar_url":null,"href":"{api_url}/users/957.json"}}}]}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
