---
http_interactions:
- request:
    method: get
    uri: http://checkd-in-core.dev:80/api/v1/campaigns/8/classification_leaderboard?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"587836f7e040a35c384cc10e29aa236a"'
    body:
      encoding: UTF-8
      string: ! '{"classifications":[{"classification":"grouped","total_points":53,"members":1}]}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
