---
http_interactions:
- request:
    method: get
    uri: http://checkd-in-core.dev:80/api/v1/campaigns/8/leaderboard?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1bd6e06d0d9c6d87b46097e90e440f73"'
    body:
      encoding: UTF-8
      string: ! '{"total_pages":1,"point_accounts":[{"point_account":{"balance":53,"campaign":{"name":"Carnival","description":"Test","start_date":"2013-01-10","end_date":"2014-01-10","href":"{api_url}/campaigns/8.json"},"user":{"id":962,"username":"leader","avatar_url":null,"external_avatar_url":null,"href":"{api_url}/users/962.json"}}}]}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
