---
http_interactions:
- request:
    method: get
    uri: http://checkd-in-core.dev:80/api/v1/campaigns/58/twitter_hashtag_streams/3?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"3391ddba188b0ac333df3d62511fcceb"'
    body:
      encoding: UTF-8
      string: ! '{"twitter_hashtag_stream":{"id":3,"twitter_hashtag":"#banana","hashtag_twitter_statuses_count":1345,"created_at":"2013-09-04T14:26:45-05:00","updated_at":"2013-09-04T14:26:45-05:00"}}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
