---
http_interactions:
- request:
    method: get
    uri: http://checkd-in-core.dev:80/api/v1/campaigns/58/twitter_hashtag_streams?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"ac909f261fa007408cae84bbc6697701"'
    body:
      encoding: UTF-8
      string: ! '{"twitter_hashtag_streams":[{"twitter_hashtag_stream":{"id":2,"twitter_hashtag":"#monkeyfur","hashtag_twitter_statuses_count":50,"created_at":"2013-09-04T14:24:56-05:00","updated_at":"2013-09-04T14:24:56-05:00","href":"https://staging.checkd.in/api/v1/campaigns/58/twitter_hashtag_streams/2.json"}},{"twitter_hashtag_stream":{"id":3,"twitter_hashtag":"#banana","hashtag_twitter_statuses_count":1345,"created_at":"2013-09-04T14:26:45-05:00","updated_at":"2013-09-04T14:26:45-05:00","href":"https://staging.checkd.in/api/v1/campaigns/58/twitter_hashtag_streams/3.json"}}]}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
