---
http_interactions:
- request:
    method: get
    uri: https://app.checkd.in:443/api/v1/campaigns/2?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"83ceef90ebd0f230d5475f7d9da461bd"'
    body:
      encoding: UTF-8
      string: ! '{"campaign":{"name":"Check In To Win!","description":"Check in to
        win free coffee and more!","start_date":"2011-10-17","end_date":"2012-10-17","href":"https://app.checkd.in/api/v1/campaigns/2.json","promotions":[{"promotion":{"title":"Get
        a FREE coffee for every 5 check ins!","description":"Every 5 times you check
        in at our new location you will be rewarded with a free coffee!  Enjoy!","terms":"Offer
        only good at some locations.","above_21_only":false,"ends_at":"2012-10-16T07:51:32-05:00","href":"https://app.checkd.in/api/v1/promotions/8.json","type":"promotion_lbs_checkin","place_groups":[{"place_group":{"name":"Stores","href":"https://app.checkd.in/api/v1/place_groups/2.json"}}],"reward":{"private_delivery_description":"Thank
        you for checking-in five times! Because you are such a loyal customer, we
        would like to treat you to a free medium coffee! ","public_delivery_description":"Free
        coffee for every 5 visits - check it out - http://something.com","single_delivery":false,"type":"badge_reward","reward_file":"5thCheckinBarcode.png"},"trigger_schedule":{"rewarding":"once","winner_picked":"activity_interval","interval":5,"human_readable":"Rewarded
        once when a user reaches 5 relevant actions or points."}}}]}}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
