---
http_interactions:
- request:
    method: get
    uri: https://app.checkd.in:443/api/v1/campaigns?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e6f7707236ce6deee928389ed07c85bf"'
    body:
      encoding: UTF-8
      string: ! '[{"campaign":{"name":"Check In To Win!","description":"Check in to
        win free coffee and more!","start_date":"2011-10-17","end_date":"2012-10-17","href":"https://app.checkd.in/api/v1/campaigns/2.json","promotions":{"count":3,"href":"https://app.checkd.in/api/v1/promotions.json?campaign_id=2"},"leaderboard":{"href":"https://app.checkd.in/api/v1/campaigns/2/leaderboard.json"}}}]'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
