---
http_interactions:
- request:
    method: post
    uri: https://app.checkd.in:443/api/v1/users?client_id={client_id}&client_secret={client_secret}&email=atest@checkd.in&identifier=clientuid123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c6751a59a96e9a46e611f3aec1517dc7"'
    body:
      encoding: UTF-8
      string: ! '{"user":{"id":21090,"username":null,"created_at":"2012-03-11T06:22:21-05:00","first_name":null,"last_name":null,"birth_date":null,"gender":null,"avatar_url":null,"authentications":[],"campaigns":[{"campaign":{"name":"Whatevs","description":"Whatevs","start_date":"2012-01-23","end_date":"2012-08-23","href":"http://checkd-in-core.dev/api/v1/campaigns/5.json","points":0,"won_rewards":[]}}]}}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
