---
http_interactions:
- request:
    method: get
    uri: https://app.checkd.in:443/api/v1/users/7835/authentications/19479?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"7dc6683e23019b9f9c4576c7e4937529"'
    body:
      encoding: UTF-8
      string: ! '{"authentication":{"provider":"twitter","token_state":"fresh","uid":"5930881311","nickname":"demo"}}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
