---
http_interactions:
- request:
    method: get
    uri: http://core.dev:80/api/v1/users/8198/full?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"017b41982bf1d8c2a0aa740514186cbd"'
    body:
      encoding: UTF-8
      string: ! '{"user":{"id":8198,"first_name":"Portia","last_name":"Dixon","birth_date":"1977-05-15","gender":"female","mobile_number":null,"email":"3636@fakemail.bckstgr.com","authentications":[{"authentication":{"provider":"facebook","token_state":"fresh","uid":"100004802792689","nickname":"portia.dixon.33","href":"http://checkd-in-core.dev/api/v1/users/8198/authentications/19707"}}],"classification":null,"delivery_sms":true,"delivery_email":true,"activity_state":"fresh","external_avatar_url":"http://graph.facebook.com/100004802792689/picture?type=square","referral_token":"5cd5e13e70ab94bfd1e9","created_at":"2012-12-10T14:08:24-06:00","updated_at":"2013-01-04T14:19:11-06:00"}}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
