---
http_interactions:
- request:
    method: get
    uri: http://core.dev:80/api/v1/users/blacklisted?client_id={client_id}&client_secret={client_secret}&limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"252ef6a59fdf242873861ce734ffb0fd"'
    body:
      encoding: UTF-8
      string: ! '{"total_pages":1,"users":[{"user":{"id":8199,"username":"timothy.sanders.39948","created_at":"2012-12-17T23:34:54-06:00","first_name":"Timothy","last_name":"Sanders","birth_date":"1987-04-18","gender":"male","external_avatar_url":"http://graph.facebook.com/100004846150211/picture?type=square","activity_state":"blacklisted","avatar_url":"https://dev-checkdin-user.s3.amazonaws.com/uploads/8199/211683_100004846150211_772921663_q.jpg","campaign_count":1,"href":"{api_url}/users/8199.json"}}]}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
