---
http_interactions:
- request:
    method: get
    uri: https://app.checkd.in:443/api/v1/users?client_id={client_id}&client_secret={client_secret}&limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"14e240ca9c8aebdd4b026df22d2f3d0c"'
    body:
      encoding: UTF-8
      string: ! '{"total_pages":71,"users":[{"user":{"id":196,"username":"jclandes","created_at":"2012-02-11T18:28:04-06:00","first_name":null,"last_name":null,"birth_date":"1979-02-06","gender":null,"avatar_url":null,"campaign_count":1,"href":"https://app.checkd.in/api/v1/users/196.json"}},{"user":{"id":187,"username":"krhoch","created_at":"2012-01-26T08:16:48-06:00","first_name":null,"last_name":null,"birth_date":"1986-05-29","gender":"male","avatar_url":"https://prod-checkdin-user.s3.amazonaws.com/uploads/187/ROPQUJ0DZBN00OQB.jpg","campaign_count":1,"href":"https://app.checkd.in/api/v1/users/187.json"}}]}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
