---
http_interactions:
- request:
    method: get
    uri: https://app.checkd.in:443/api/v1/users/7835/authentications?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"770bacd806cdf1700715ea8fb781c3fe"'
    body:
      encoding: UTF-8
      string: ! '{"authentications":[{"authentication":{"provider":"twitter","token_state":"fresh","uid":"5930881311","nickname":"demo","href":"https://staging.checkd.in/api/v1/users/7835/authentications/19479.json"}},{"authentication":{"provider":"facebook","token_state":"fresh","uid":"1000038776937901","nickname":"demo","href":"https://staging.checkd.in/api/v1/users/7835/authentications/19512.json"}},{"authentication":{"provider":"foursquare","token_state":"fresh","uid":"19125491","nickname":"demo","href":"https://staging.checkd.in/api/v1/users/7835/authentications/19511.json"}}]}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
