---
http_interactions:
- request:
    method: post
    uri: https://app.checkd.in:443/api/v1/users/7887/authentications?client_id={client_id}&client_secret={client_secret}&nickname=foursquare_name&oauth_token=111&provider=foursquare&uid=1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"0d8d9602bdf1bba15f60fa4773e120d4"'
    body:
      encoding: UTF-8
      string: ! '{"authentication":{"provider":"foursquare","token_state":"fresh","uid":"1234","nickname":"foursquare_name"}}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
