---
http_interactions:
- request:
    method: get
    uri: http://checkd-in-core.dev:80/api/v1/point_account_entries?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5164d264ca7765342156c8cc4bf8fdd8"'
    body:
      encoding: UTF-8
      string: ! '{"total_pages":1,"point_account_entries":[{"point_account_entry":{"id":1,"point_value":1,"created_from":{"created_at":"2012-02-23T07:10:21-06:00","updated_at":"2012-02-23T07:10:21-06:00","promotion":{"id":12,"type":"promotion_photo","title":"LessConf
        Hugs","description":"Hugs at LessConf.","state":"editable","terms":"","above_21_only":false,"starts_at":"2012-02-23T00:00:00-06:00","ends_at":"2012-02-25T00:00:00-06:00","won_rewards":{"count":477,"href":"{api_url}/won_rewards.json?promotion_id=12"},"twitter_hashtag":"#lessconfhugs","participant_status_message":null,"href":"{api_url}/promotions/12.json","prerequisites":[]},"type":"won_reward"},"user":{"id":216,"username":"caparks","avatar_url":"https://dev-checkdin-user.s3.amazonaws.com/uploads/216/CParkssmpng_normal.png","external_avatar_url":null,"href":"{api_url}/users/216.json"},"point_account":{"id":18,"balance":1}}}]}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
