---
http_interactions:
- request:
    method: get
    uri: https://app.checkd.in:443/api/v1/won_rewards/142?client_id={client_id}&client_secret={client_secret}
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"81e9f265a7e790c8b4233f7040a62545"'
    body:
      encoding: UTF-8
      string: ! '{"won_reward":{"points_when_rewarded":null,"points_needed":null,"created_at":"2012-02-08T09:00:34-06:00","updated_at":"2012-02-08T09:00:34-06:00","public_delivery_description":"Free
        coffee","private_delivery_description":"Thank you","campaign":{"name":"Check
        In","description":"Check in to win free coffee and more!","start_date":"2011-10-17","end_date":"2012-10-17","href":"https://app.checkd.in/api/v1/campaigns/2.json"},"promotion":{"title":"A
        great promotion","description":"Every 5 times you check in at our location
        you will be rewarded with a free coffee!  Enjoy!","terms":"","above_21_only":false,"ends_at":"2012-10-16T07:51:32-05:00","href":"https://app.checkd.in/api/v1/promotions/8.json","type":"promotion_lbs_checkin","place_groups":[{"place_group":{"name":"Stores","href":"https://app.checkd.in/api/v1/place_groups/2.json"}}],"reward":{"private_delivery_description":"Thank
        you","public_delivery_description":"Free coffee","single_delivery":false,"type":"badge_reward","reward_file":"5thCheckinBarcode.png"},"trigger_schedule":{"rewarding":"once","winner_picked":"activity_interval","interval":5,"human_readable":"Rewarded
        once when a user reaches 5 relevant actions or points."}},"reward":{"single_delivery":false,"type":"badge_reward","reward_file":"5thCheckinBarcode.png"},"user":{"id":64,"username":"bdoyk","created_at":"2011-10-19T08:32:38-05:00","first_name":null,"last_name":null,"birth_date":"1982-07-22","gender":null,"avatar_url":"https://prod-checkdin-user.s3.amazonaws.com/uploads/64/FYWYJX0YHPSVHPKP.jpg","href":"https://app.checkd.in/api/v1/won_rewards.json?user_id=64","postal_code":{"postal_code":"37206","locality":"NASHVILLE","state":"Tennessee","state_abbr":"TN","county":"DAVIDSON","lat":36.180806,"lon":-86.741761}}}}'
  recorded_at: Thu, 05 Sep 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
